.App {
  text-align: center;
}

.overwatchLogo {
  height: 100px;
  width: 100px;
}

.App-header {
  background-color: rgb(179, 0, 43);
  padding: 20px;
  color: white;
}

.App-body {  
  font-size: large;
  padding: 20px;
}

@keyframes overwatchLogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
